Options -Indexes
RewriteEngine On

Header set Content-Description "File Transfer"
Header set Content-Disposition attachment
Header set Connection Keep-Alive
Header set Access-Control-Allow-Origin "https://chat.snkms.com"
Header set Cache-Control "max-age=604800, public, must-revalidate"

#<FilesMatch "\.(jpg|jpeg|png|gif|webp)$">
#    Header set Cache-Control "max-age=604800, public"
#</FilesMatch>

<If "%{QUERY_STRING} =~ /fileName=/">
# Save value of fileName URL param in environment variable FILENAME
RewriteCond %{QUERY_STRING} (?:^|&)fileName=([^&]+)
RewriteRule ^ - [E=FILENAME:%1]

# Conditionally set header only if FILENAME is set and use this in the header itself
Header set "Content-Disposition" "attachment; filename=\"%{FILENAME}e\"" env=FILENAME
</If>