Options -Indexes
AcceptPathInfo Off

RewriteEngine on
RewriteRule ^index.php$ https://chat.snkms.com/ [R,NC]

RewriteRule ^private/([0-9a-zA-Z_-]+)/?$ ?private=$1 [L]
RewriteRule ^private/?$ ?private=public [L]

#RewriteRule ^cdn/(.*?)$ https://media.eoe.asia/$1 [R,NC]
#RewriteRule ^cdn/(.*?)$ https://media.snkms.org/$1 [R,NC]
RewriteRule ^cdn/(.*?)$ https://chat.snkms.com/$1 [R,NC]

#Header always set content-security-policy "frame-src 'self';block-all-mixed-content; object-src 'none';script-src 'self' *.snkms.com ajax.googleapis.com *.googletagmanager.com;"
Header merge content-security-policy "script-src 'self' *.snkms.com ajax.googleapis.com *.googletagmanager.com 'sha256-oPKiATqjvYGrL2OJFli6lZw2naAkoCXSA/RkxxwSlQI=';"

<FilesMatch "\.(ico|jpg|jpeg|png|gif|css|js)$">
    Header set Cache-Control "max-age=604800, public, must-revalidate"
</FilesMatch>