Options -Indexes
RewriteEngine On

Header set Content-Description "File Transfer"
Header set Content-Disposition "inline"
Header set Connection Keep-Alive
Header set Access-Control-Allow-Origin "https://chat.snkms.com"
Header set Cache-Control "max-age=604800, public, must-revalidate"

RewriteEngine On

# 抓取 URL 中的 fileName 查詢參數，並將其值保存到環境變數 FILENAME
RewriteCond %{QUERY_STRING} (^|&)fileName=([^&]+) [NC]
RewriteRule ^ - [E=FILENAME:%2]

# 使用環境變數 FILENAME 設置 Content-Disposition 標頭
Header set Content-Disposition "inline; filename=%{FILENAME}e" env=FILENAME

# 新增條件：當 GET 參數 download=true 時，設置 Content-Disposition 標頭
RewriteCond %{QUERY_STRING} (^|&)download=true [NC]
Header set Content-Disposition "attachment; filename=%{FILENAME}e" env=FILENAME

####

# Serve HTML as plaintext, don't execute SHTML
AddType text/plain .html .htm .shtml .phtml .php .php3 .php4 .php5 .php7

# Old way of registering php with AddHandler
RemoveHandler .php

# Recent way of registering php with SetHandler
<FilesMatch "\.ph(p[3457]?s?|tml)$">
   SetHandler None
</FilesMatch>

# If you've other scripting languages, disable them too.

<IfModule mod_deflate.c>
    # 不要對 .jar 檔案進行 Gzip 壓縮
    SetEnvIfNoCase Request_URI \.jar$ no-gzip dont-vary
</IfModule>